.info-imovel{
    background-color: #FAF9FA;
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #D90000;
        width: 100%;
        a{    
            font: 400 22px poppins;
            text-decoration: none;
            color: #ffff;
        }
        .img{
            img{
                
                 width: 146px;
            }
           
        }
    }

    .consulta{
        display: flex;
        flex-direction: row;
        width: 100%;

        img{
            width: 75%;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        width: 25%;
        align-items: center;
        padding: 25px;
        
        .risco{
            border: 1px solid black;
            width: 85%;
        }

        #pronto{
            padding: 10px 20px;
            font: 400 16px poppins;
            text-decoration: none;
            background-color: #252424;
            border-radius: 3px;
            color: #ffffff;
            margin: 20px 0px 30px 0px;
        }

        #local{
            
            font: 400 16px poppins;
            margin: 20px 0px 20px 0px;
        }

        .prediocama{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin:20px 0px 30px 0px;
            gap: 120px;

            .esquerda{
               display: flex;
               flex-direction: column;
               gap: 5px;

               img{
                width: 60px;
               }
               p{
                text-align: center;
                font: 400 16px poppins;
               }
            }
            .direita{
                display: flex;
                flex-direction: column;
                gap: 5px;
 
                img{
                 width: 60px;
                }
                p{
                    text-align: center;
                    font: 400 16px poppins;
                   }
             }
        }

        .metrocar{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            gap: 90px;

            .esquerda2{
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 5px;

               img{
                
                width: 60px;
               }
               p{
                text-align: center;
                font: 400 16px poppins;
                width: 150px;
               }
            }
            .direita2{
                display: flex;
                flex-direction: column;
                gap: 5px;
 
                img{
                    margin-left: 20px;
                 width: 40px;
                }
                p{
                    margin-left: -40px;
                    text-align: center;
                    font: 400 16px poppins;
                   }
             }
        }
    }

    #preco{
        margin: 10px 0px;
        font: 500 26px poppins;
    }

    #falaCorretor{
        margin-top: 20px;
        padding: 10px 20px;
        font: 400 16px poppins;
        text-decoration: none;
        background-color: #252424;
        border-radius: 3px;
        color: #ffffff;
    }
    
}