.rodape{
    display: flex;
    flex-direction: column;    
    background-color: #2A2A2A;
    width: 100%;
   

    .rodainfo1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 100px 0px 30px;
        padding: 30px;
        
        p{
            font: 300 24px poppins;
            color: #ffff;
        }

        .imagens{
            display: flex;
            gap: 10px;
        }
    }

    .RiscoBranco{
        border: 1px solid #787878;
    }

    .meioRodape{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px 0px;
        gap: 50px;

        .esquerda{
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 5px;

            h1{
                font: 600 30px poppins;
                color: #ffff;
            }
            a{
                text-decoration: none ;
                color: #787878;
            }
            a:hover{
                color: #AE3139;
            }

        }

        .direita{
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 5px;

            h1{
                font: 600 30px poppins;
                color: #ffff;
            }
            a{
                text-decoration: none ;
                color: #787878;
                
            }
            a:hover{
                color: #AE3139;
            }
            p{
                font: 400 16px poppins;
                color: #787878;
            }
            p:hover{
                color: #AE3139;
            }
        }
    }

    .reta{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .RiscoBranco2{
            
            width: 1400px;
            border: 1px solid #787878;
        }
    }

    #fimRodape{
        padding: 20px;
        text-align: center;
        font: 400 18px poppins;
        color: #ffff;
    }

}