.paginaContatos{
    display: flex;
    flex-direction: column;
    background-color: #f0e6e6;
    

    .secao1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 70px;
        gap: 20px;

        .cardzin{
            display: flex;
            flex-direction: column;
            gap: 7px;
            padding: 15px;
            margin-top: 50px;
            height: 150px;
            background-color: #F5F5F5;
            border-radius: 5px;
            box-shadow:  3px 3px 8px gray;

            .linha{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;

                h1{
                    font: 400 16px poppins;
                }
            }
        }


        .informacoes{
            display: flex;
            flex-direction: column;
            background-color: #FCFCFC;
            box-shadow:  3px 3px 8px gray;
            margin-top: 50px;
            gap: 20px;
            border-radius: 10px;
            padding: 15px;

            .nome{
                display: flex;
                flex-direction: column;
                gap: 2px;
                width: 500px;

                h1{
                    font: 500 22px poppins;
                }
                input{
                    border: 1px solid black;
                    border-radius: 7px;
                    padding: 5px 10px;
                }
            }

            .email{
                display: flex;
                flex-direction: column;
                gap: 2px;
                width: 500px;

                h1{
                    font: 500 22px poppins;
                }
                input{
                    border: 1px solid black;
                    border-radius: 7px;
                    padding: 5px 10px;
                }
            }

            .numero{
                display: flex;
                flex-direction: column;
                gap: 2px;
                width: 500px;

                h1{
                    font: 500 22px poppins;
                }
                input{
                    border: 1px solid black;
                    border-radius: 7px;
                    padding: 5px 10px;
                }
            }

            .mensagem{
                display: flex;
                flex-direction: column;
                gap: 2px;
                width: 500px;

                h1{
                    font: 500 22px poppins;
                }
                textarea{
                    height: 100px;
                    border: 1px solid black;
                    border-radius: 7px;
                    padding: 5px 10px;
                }
            }
        }
    }

    .termos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 40px 170px;
        gap: 4px;

        input{
            width: 22px;
        }
        p{
            font: 400 16px poppins;
        }
        a{
            margin-left: 40px;
            font:500 18px poppins;
            padding: 10px 25px;
            color: #ffff;
            border-radius: 5px;
            background-color: #D81010;
            text-decoration: none;
            
        }

    }

    #suporte{
        width: 100px;
        position: fixed;
        bottom: 24px;
        right: 16px;
    }

 

}  