.pagina_home{
    display: flex;
    flex-direction: column;
    background-color: #f0e6e6;
    gap: 10px;

    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #D81010;
        width: 100%;
        a{    
            font: 400 22px poppins;
            text-decoration: none;
            color: #ffff;
        }
        .img{
            img{
                
                 width: 146px;
            }
           
        }
    }

    .banners{
        img{
            width: 100%;
        }
    }

    .secao1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-bottom: 20px;

        .card{
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 5px gray;
            background-color: #ffff;
            gap: 10px;

            img{
                
                padding: 10px;
            }

            #titulo_card{
                margin: 0px 10px;
                font:600 22px poppins ;
            }
            .info1{
                display: flex;
                flex-direction: row;
                margin: 0px 10px;
                gap: 150px;
                #status{
                    font:600 20px poppins ;
                }
                #tipo{
                    padding: 10px 20px;
                    background-color: #D81010;
                    font:400 14px poppins ;
                    border-radius: 20px;
                    color: #ffff;
                }
            }
            .infoLoca{
                display: flex;
                flex-direction: row;
                align-items: center;

                h1{
                    padding-bottom: 30px;
                }
            }
            #loca{
                margin-top: -30px ;
            }
            #localiza{
                align-items: center;
                margin-top: 10px 10px;
                font:500 20px poppins ;
            }
            #cinza{
                text-align: center;
                font:400 18px poppins ;
                padding: 4px;
                width: 100%;
                background-color:#D9D9D9;

            }
            .info2{
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                #vagas{   
                    padding: 5px 0px 0px 5px; 
                    font:500 18px poppins ;
                }
                #saiba_mais{
                    margin-left: 105px;
                    text-decoration: none;
                    padding: 10px 20px;
                    background-color: #D81010;
                    font:400 14px poppins ;
                    border-radius: 20px;
                    color: #ffff;
                }
            }
        }

        .card2{
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 5px gray;
            background-color: #ffff;
            gap: 10px;

            img{
                
                padding: 10px;
            }

            #titulo_card{
                margin: 0px 10px;
                font:600 22px poppins ;
            }
            .info1{
                display: flex;
                flex-direction: row;
                margin: 0px 10px;
                gap: 150px;
                #status{
                    font:600 20px poppins ;
                }
                #tipo{
                    padding: 10px 20px;
                    background-color: #D81010;
                    font:400 14px poppins ;
                    border-radius: 20px;
                    color: #ffff;
                }
            }
            .infoLoca{
                display: flex;
                flex-direction: row;
                align-items: center;

                h1{
                    padding-bottom: 30px;
                }
            }
            #loca{
                margin-top: -30px ;
            }
            #localiza{
                align-items: center;
                margin-top: 10px 10px;
                font:500 20px poppins ;
            }
            #cinza{
                text-align: center;
                font:400 18px poppins ;
                padding: 4px;
                width: 100%;
                background-color:#D9D9D9;

            }
            .info2{
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                #vagas{   
                    padding: 5px 0px 0px 5px; 
                    font:500 18px poppins ;
                }
                #saiba_mais{
                    margin-left: 105px;
                    text-decoration: none;
                    padding: 10px 20px;
                    background-color: #D81010;
                    font:400 14px poppins ;
                    border-radius: 20px;
                    color: #ffff;
                }
            }
        }

        .card3{
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 5px gray;
            background-color: #ffff;
            gap: 10px;

            img{
                
                padding: 10px;
            }

            #titulo_card{
                margin: 0px 10px;
                font:600 22px poppins ;
            }
            .info1{
                display: flex;
                flex-direction: row;
                margin: 0px 10px;
                gap: 150px;
                #status{
                    font:600 20px poppins ;
                }
                #tipo{
                    padding: 10px 20px;
                    background-color: #D81010;
                    font:400 14px poppins ;
                    border-radius: 20px;
                    color: #ffff;
                }
            }
            .infoLoca{
                display: flex;
                flex-direction: row;
                align-items: center;

                h1{
                    padding-bottom: 30px;
                }
            }
            #loca{
                margin-top: -30px ;
            }
            #localiza{
                align-items: center;
                margin-top: 10px 10px;
                font:500 20px poppins ;
            }
            #cinza{
                text-align: center;
                font:400 18px poppins ;
                padding: 4px;
                width: 100%;
                background-color:#D9D9D9;

            }
            .info2{
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                #vagas{   
                    padding: 5px 0px 0px 5px; 
                    font:500 18px poppins ;
                }
                #saiba_mais{
                    margin-left: 105px;
                    text-decoration: none;
                    padding: 10px 20px;
                    background-color: #D81010;
                    font:400 14px poppins ;
                    border-radius: 20px;
                    color: #ffff;
                }
            }
        }
        
    }

   
}